<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.karismatuitioncentre">
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KarismaTuitionCentre">
        <activity android:name=".register_login.Login_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".home.Home_Activity_Pengajar">

        </activity>

        <activity android:name=".home.Home_Activity_Pelajar">

        </activity>

        <activity android:name=".home.Home_Activity_IbuBapa">

        </activity>

        <activity android:name=".register_login.RegisterStudent_Activity">

        </activity>

        <activity android:name=".jadual.j_pengajar.Jadual_Activity_Pengajar">

        </activity>

        <activity android:name=".jadual.j_pengajar.Isnin_Activity_Pengajar">

        </activity>

        <activity android:name=".jadual.j_pengajar.Selasa_Activity_Pengajar">

        </activity>

        <activity android:name=".jadual.j_pengajar.Rabu_Activity_Pengajar">

        </activity>

        <activity android:name=".jadual.j_pengajar.Khamis_Activity_Pengajar">

        </activity>

        <activity android:name=".jadual.j_pengajar.Jumaat_Activity_Pengajar">

        </activity>

        <activity android:name=".jadual.j_pengajar.Sabtu_Activity_Pengajar">

        </activity>

        <activity android:name=".jadual.j_pengajar.Ahad_Activity_Pengajar">

        </activity>

        <activity android:name=".jadual.j_pengajar.Isnin_AddData_Pengajar">

        </activity>


         <activity android:name=".jadual.j_pengajar.Selasa_AddData_Pengajar">

        </activity>

        <activity android:name=".jadual.j_pengajar.Rabu_AddData_Pengajar">

        </activity>

        <activity android:name=".jadual.j_pengajar.Khamis_AddData_Pengajar">

        </activity>

        <activity android:name=".jadual.j_pengajar.Jumaat_AddData_Pengajar">

        </activity>

        <activity android:name=".jadual.j_pengajar.Sabtu_AddData_Pengajar">

        </activity>

        <activity android:name=".jadual.j_pengajar.Ahad_AddData_Pengajar">

        </activity>

        <activity android:name=".maklumbalas.MaklumBalas_Activity_Pengajar">

        </activity>

        <activity android:name=".maklumbalas.MaklumBalas_Activity_Pelajar_IbuBapa">

        </activity>

        <activity android:name=".maklumbalas.MaklumBalas_AddData_Pelajar_IbuBapa">

        </activity>

        <activity android:name=".yuran.Yuran_Activity_IbuBapa">

        </activity>

        <activity android:name=".yuran.Yuran_Activity_Test">

        </activity>
        <activity android:name=".yuran.Yuran_Activity_Pengajar">

        </activity>
    </application>

</manifest>