<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.karismatuitioncentre">
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_img"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_img_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KarismaTuitionCentre">
        <activity android:name=".login.Login_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".home.Home_Activity_Pengajar">

        </activity>

        <activity android:name=".home.Home_Activity_Pelajar">

        </activity>

        <activity android:name=".home.Home_Activity_IbuBapa">

        </activity>

        <activity android:name=".register.reg_pelajar.Register_Activity_RegPelajar_Pengajar">

        </activity>

        <activity android:name=".register.reg_ibubapa.Register_Activity_RegIbubapa_Pengajar">

        </activity>


        <activity android:name=".maklumbalas.mb_pengajar.MaklumBalas_Activity_Pengajar">

        </activity>

        <activity android:name=".maklumbalas.mb_pelajaribubapa.MaklumBalas_Activity_Pelajar_IbuBapa">

        </activity>

        <activity android:name=".maklumbalas.mb_pelajaribubapa.MaklumBalas_AddData_Pelajar_IbuBapa">

        </activity>


        <activity android:name=".yuran.y_pengajar.Yuran_Activity_SearchStudent_Pengajar">

        </activity>
        <activity android:name=".yuran.y_pengajar.Yuran_Activity_SetStatus_Pengajar">

        </activity>
        <activity android:name=".yuran.y_ibubapa.Yuran_Activity_ViewMaklumatPemabayaran_IbuBapa">

        </activity>

                <activity android:name=".yuran.y_pengajar.Yuran_Activity_Home_Pengajar">

        </activity>
              <activity android:name=".yuran.y_pengajar.Yuran_Activity_SetMaklumatPembayaran_Pengajar">

        </activity>


              <activity android:name=".jadual.j_pelajaribubapa.Jadual_Activity_Home_Pelajar_IbuBapa_Test">

        </activity>

              <activity android:name=".jadual.j_pelajaribubapa.Jadual_Activity_ViewSchedule_Pelajar_IbuBapa_Test">

        </activity>

              <activity android:name=".jadual.j_pengajar.Jadual_Activity_Home_Pengajar_Test">

        </activity>

              <activity android:name=".jadual.j_pengajar.Jadual_Activity_ViewSchedule_Pengajar_Test">

        </activity>

              <activity android:name=".jadual.j_pengajar.Jadual_Activity_AddSlot_Pengajar_Test">

        </activity>

              <activity android:name=".jadual.j_pengajar.Jadual_Activity_EditSlot_Pengajar">

        </activity>

        <activity android:name=".kehadiran.k_pelajar.Kehadiran_Activity_QRScanner_Pelajar">

        </activity>

        <activity android:name=".kehadiran.k_pengajar.Kehadiran_Activity_Home_Pengajar">

        </activity>

        <activity android:name=".kehadiran.k_pengajar.Kehadiran_Activity_QRGenerator_Pengajar">

        </activity>

        <activity android:name=".kehadiran.k_pelajar.Kehadiran_Activity_Home_Pelajar">

        </activity>

        <activity android:name=".kehadiran.k_pelajar.Kehadiran_Activity_ViewKehadiran_Pelajar">

        </activity>

<!--        <activity android:name=".prestasi.p_pelajar.Prestasi_Activity_LineChart_Test">

        </activity>-->

        <activity android:name=".prestasi.p_pelajar.Prestasi_Activity_Home_Pelajar">

        </activity>

        <activity android:name=".prestasi.p_pelajar.Prestasi_Activity_ViewPerformance_Pelajar">

        </activity>

        <activity android:name=".prestasi.p_pengajar.Prestasi_Activity_Home_Pengajar">

        </activity>

        <activity android:name=".prestasi.p_pengajar.Prestasi_Activity_SearchStudent_Pengajar">

        </activity>

        <activity android:name=".prestasi.p_pengajar.Prestasi_Activity_ViewTestResult_Pengajar">

        </activity>

        <activity android:name=".prestasi.p_pengajar.Prestasi_Activity_Home_UpdateView_Pengajar">

        </activity>

        <activity android:name=".prestasi.p_pengajar.Prestasi_Activity_UpdatePerformance_Pengajar">

        </activity>

    </application>

</manifest>